<div id="formbuilder-list-view" class="content-view active-view">
  <div class="content-header">
      <h3>
          Manajemen Form Builder
      </h3>
  </div>
  <div class="search-container">
    <input type="text" id="search-input" placeholder="Cari formbuilder..." />
    <span class="search-icon">🔍</span>
  </div>

  <div class="collections-main-content">
    <div class="collections-grid" id="formbuilder-grid">
      <!-- Card-card akan di-render di sini oleh JS -->
    </div>
  </div>

  <div class="pagination-controls">
    <button class="btn" id="prev-page">< Sebelumnya</button>
    <span id="pagination-info">Halaman 1 dari 1</span>
    <button class="btn" id="next-page">Selanjutnya ></button>
  </div>
</div>

<!-- Detail View -->
<div id="formbuilder-detail-view" class="content-view">
  <div class="content-header">
    <button class="btn btn-secondary" id="back-to-list">Kembali</button>
    <h3 id="form-detail-title">Detail Form</h3>
  </div>
  <div class="sortable-list">
    <form id="dynamic-form">
    </form>
  </div>
</div>